body {
    margin: 0px;
}

#image-container {
    border: 1px solid grey;
    max-width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.draggable {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #6565dd;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #7878df;
    color: white;
}

.draggable:hover {
    cursor: grab;
}

.line {
    position: absolute;
    background-color: #6565dd;
    min-height: 1px;
    min-width: 1px;
}