body {
    margin: 0px;
}

#app {
    max-width: 100%;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.draggable {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #6565dd;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #7878df;
    color: white;
    overflow: hidden;
}

.draggable:hover {
    cursor: grab;
}

.line {
    position: absolute;
    background-color: #6565dd;
    min-height: 1px;
    min-width: 1px;
    margin-top: 5px;
    margin-left: 5px;
}

#TR {
    left:200px
}

#BL {
    top: 200px;
}

#BR {
    top: 200px;
    left:200px
}